form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-color: black;
  color: white;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 , .a {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: #00FFFF; 
  text-align: center;
}

label {
  color : #09f920;
}

.btn-default {
  background-color: #09f920;
  border-color: #09f920;
  color: black;

}

section {
margin: 25px;
padding: 0;
position: 10px;
box-sizing: border-box;
position: absolute;
height: 100vh;
display: flex;
border: 2px solid #000;
}

section .slide {
  position: relative;
  background: #0f0;
  height: 500px;
  flex: 1;
  border-right: 2px solid #000;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

section.slide:last-child {
  border-right: none;
}

section .slide:hover {
  flex-grow: 5;
}


section .slide .content {
  bottom: 0;
  margin: 40px;
  padding: 30PX;
  background: #000;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(100px);
} 

section .slide:hover .content {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.5s;
  transform: translateY(0);
}